.our-production {
    padding-top: 74px;
    &__title {
        @include third-title;
        margin-bottom: 55px;
    }
    &__upsell {
        padding-top: 100px;
        &-title {
            @include third-title;
            margin-bottom: 50px;
        }
        &-products {
            @include blue-btn;
            margin: 4px 3px;
            width: calc(33.333% - 8px);
            height: 64px;
            display: inline-block;
            letter-spacing: 1.42px;
            line-height: 64px;
            text-transform: uppercase;

        }
    }
}

.carousel {
    max-width: 610px;
    margin: 0 auto;
}

.carousel .carousel-indicators {
    margin-left: 0;
    left: 50%;
    display: block;
    opacity: 1;
    bottom: 20px;
    width: 91px;
    display: flex;
    justify-content: space-between;
    .active {
        background-color: #0057db;
        opacity: 1;
    }
}

.carousel .carousel-indicators button {
   border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #a3bbe0;
    background-color: #d0dffd;
 }

.carousel-controls {
    position: relative;
    top: 30px;
}
.carousel .carousel-control {
width: 126px;
height: 78px;
box-shadow: 0 0 21px rgba(64, 68, 75, 0.14);
border-radius: 8px;
border: none;
background-color: #ffffff;
&:hover {
    transform: scale(1.05);
}
}
