.temperature {
    padding: 90px 0 0 120px;

        &-title {
            white-space: pre-line;
            @include secondary-title($page-blue-text)
        }
        &-text {
            @include plain-text($black);
            margin-top: 40px;
        }
        &-img-container {
            background-image: url(../dist/img/section-image-IconHotToCold.png);
            background-position: right 0 bottom 60% ;
            background-repeat: no-repeat;
            min-height: 300px;
        }
}