//FONTS
$main-font-400: "Noto Sans Regular";
$main-font-500: "Noto Sans Medium";
$main-font-600: "Noto Sans SemiBold";
$secondary-font-500: "BBC Reith Sans Medium";
$secondary-font-700: "BBC Reith Sans Bold";

//COLORS
$page-gray: #45494f;
$page-blue-text: #1652ac;
$white: #fff;
$black: #000;